* {
    box-sizing: border-box;
  }

header{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    background-color: cadetblue;
    text-decoration: cadetblue;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}

main{
    font-size: 25px;

}

div{
    position: sticky;
    background-color: cornflowerblue;
    padding-left: 25px;
    border-radius: 100px;
    top: 0.25rem;
}

ul li{
    padding-left: 50px;
    list-style-type:none;

}

ul li::before{
    content:"\2706";
}